<div class="page_header">
<h1>Edit your Pokémon!</h1>
</div>
<form method="POST" action="/pokemon/<%= @pokemon.id %>">
    <input type="hidden" id="hidden" name="_method" value="PATCH">


<label for="species">Species</label>
    <select name="species">
      <% Species.all.each do |species_name| %>
      <% if species_name == @pokemon.species %>
        <option selected value="<%= species_name.name %>"><%= species_name.name %></option>
      <% else %>
        <option value="<%= species_name.name %>"><%= species_name.name %></option>
      <% end %>
      <% end %>
      </select>
    <br>
    <br>


    <label for="nickname">Nickname</label>
    <input type="text" name="nickname" value="<%= @pokemon.nickname %>">
    <br>
    <br>



    <label for="notes">Notes</label><br>
    <textarea name="notes" value="<%= @pokemon.notes %>"><%= @pokemon.notes %></textarea>
    <br>
    <br>



    <input type="submit" class="myButton">
</form>
