<h1>Edit your Pokémon!</h1>
<form method="POST" action="/pokemon/<%= @pokemon.id %>">
    <input type="hidden" id="hidden" name="_method" value="PATCH">

    <label for="species">Species</label>
    <input type="text" name="species" value="<%= @pokemon.species %>">
    <br>
    <br>

    <label for="nickname">Nickname</label>
    <input type="text" name="nickname" value="<%= @pokemon.nickname %>">
    <br>
    <br>

    <label for="number">Number</label>
    <input type="text" name="number" value="<%= @pokemon.number %>">
    <br>
    <br>

    <label for="pokemon_type">Type</label>
    <input type="text" name="pokemon_type" value="<%= @pokemon.pokemon_type %>">
    <br>
    <br>

    <input type="submit">
</form>
