<% if flash.has?(:err) %>
    <h3 style="color: red;"><%= flash[:err] %></h3>
<% end %>

<div class="page_header">
<h2>View everyone's Pokémon!</h2>
</div>
<ul>
<% @pokemon.each do |p| %>
  <li><a href="/pokemon/<%= p.id %>"><strong><%= p.species.name %></strong></a> (trainer: <a href="/user/<%= p.user.slug %>"><%= p.user.username %></a>)</li>
  <br><br>
<% end %>
</ul>
