<div class="page_header">
<h1><%= @pokemon.species.name %></h1>
<% if @pokemon.nickname != nil && @pokemon.nickname != "" && @pokemon.nickname != " "%>
<h2>"<%= @pokemon.nickname %>"</h2>
<% end %>
</div>
<p><strong>Number:</strong> <%= @pokemon.species.number %></p>
<p><strong>Type:</strong> <%= @pokemon.species.pokemon_type %></p>
<% if @pokemon.notes %>
<p><strong>Notes:</strong> <%= @pokemon.notes %></p>
<% end %>
<p><strong>Trainer:</strong> <a href="/user/<%= @pokemon.user.slug %>"><%= @pokemon.user.username %></a></p>

<% if @user == @pokemon.user %>
<a href="/pokemon/<%= @pokemon.id %>/edit" class="myButton">Edit</a>
<form method="POST" action="/pokemon/<%= @pokemon.id %>">
  <input type="hidden"  name="_method" value="delete" />
  <input type="submit" class="myButton" value="Delete" />
  </form>
<% end %>
